<meta charset='utf-8'>
<meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
<meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'>
<meta name='mobile-web-app-capable' content='yes'>
<meta name='apple-mobile-web-app-capable' content='yes'>
<meta name='apple-mobile-web-app-status-bar-style' content='black-translucent'>
<meta name='apple-mobile-web-app-title' content='Atlas Immersive'>
<!-- <meta name='description' content=''> -->
<meta property='og:url' content='https://www.atlasimmersive.com'>
<meta property='og:type' content='website'>
<meta property='og:title' content='Atlas Immersive'>
<!-- <meta property='og:description' content=''> -->
<meta property='og:image' content='https://www.atlasimmersive.com/open_graph.png'>
<link href='https://www.atlasimmersive.com/apple-touch-icon.png' rel='apple-touch-icon'>
<link href='https://www.atlasimmersive.com/favicon.png' rel='shortcut icon' type='image/x-icon'>
<title>Atlas Immersive</title>
<%= stylesheet_link_tag 'application', media: 'all' %>
<%= csrf_meta_tag %>
