<p><%= @album.title %> (<%= @album.photos.count %>)</p>

<ul class="list-reset album-photos-list">
  <% @album.photos.each do |photo| %>
    <li class="pos-r"><%= link_to album_photo_path(@album, photo), class: "pos-a" do %><%= image_tag photo.image.url(:thumbnail) %><% end %></li>
  <% end %>
<ul>
